<!-- <!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 
 <link rel="stylesheet" href="style.css">
 <link href = 'http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic' rel = 'stylesheet' type = 'text/css'>
 <link rel='stylesheet' href="uicons-brands/uicons-brands/css/uicons-brands.css">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>

<body>
<div class="header">
  <div class="container">
    <div class="logo"></div>
    <div class="nav">
      <a href="">home &crarr;</a>
        <a href="">about</a>
          <a href="">services</a>
            <a href="">gallery</a>
              <a href="">contact</a>
    </div>
  </div>
    <div class="tittle_header">
     <div class="text_header">
      <div class="text_white">sell you</div>
      <div class="text_black">car now</div>
      <div class="text_header_3">Ваша машинка будет продана быстро и за космические деньги</div>
     </div>
    </div>
  </div>
<div class="service">
  <div class="service_head">
    <div class="text_red">our</div>
    <div class="text_black">service</div>
  </div>
  <div class="service_container">
  <div class="service_block">
    <div class="service_logo_1"></div>
    <div class="text_header_3 line_h">Making your trip beautiful and easier</div>
  </div>
  <div class="service_block">
    <div class="service_logo_2"></div>
    <div class="text_header_3 line_h">Tools to help you
      succeed tommorow</div>
  </div>
  <div class="service_block">
    <div class="service_logo_3"></div>
    <div class="text_header_3 line_h">Ideas that will blow
      you out the blue</div>
  </div>
  <div class="service_block">
    <div class="service_logo_4"></div>
    <div class="text_header_3 line_h">Navigate your path
      to beautiful world</div>
  </div>
</div>

</div>
<div class="mini_tittle"> 
  <div class="mini_tittle_container">
     <div class="mini_tittle_text">We are in business for over 6 years providing amazing services to client
    and people love them to the core. View our story to know more. </div>
    <a href="">to start page</a>
</div>
  </div>
<div class="pricing">
  <div class="pricing_container">
    <div class="text_black pricing_text">pricing</div>
    <div class="pricing_box">
      <div class="element">
        <div class="text_black pricing_box_text">started</div>
        <div class="text_red pricing_text">free</div>
        <ul class="pricing_box_text">
          <li>Free service</li>
          <li>Multiple Accounts</li>
          <li>Managment NO</li>
          <li>--</li>
          <li>--</li>
        </ul>
        <button class="but">TRY</button>

      </div>
      <div class="element">
        <div class="text_black pricing_box_text">Business</div>
        <div class="text_red pricing_text">&#36;97</div>
        <ul class="pricing_box_text">
          <li>Free service</li>
          <li>Multiple Accounts</li>
          <li>Managment NO</li>
          <li>Unlimited Data</li>
          <li>--</li>
        </ul>
        
          <button class="but">SING UP</button>
       
        

      </div>
      <div class="element">
        <div class="text_black pricing_box_text">Professional</div>
        <div class="text_red pricing_text">&#36;297</div>
        <ul class="pricing_box_text">
          <li>Free service</li>
          <li>Multiple Accounts</li>
          <li>Managment NO</li>
          <li>Unlimited Data</li>
          <li>Whatever You Need</li>
        </ul>
        <button class="but">SING UP</button>

      </div>
    </div>
  </div>
 
</div>
<div class="mini_tittle2"> 
  <div class="mini_tittle_container2">
     <div class="mini_tittle_text">All Rights Reserved |  2022  |  Designed with love by DesignCoon &copy; </div>
    <div class="logo">22</div>
</div>
  </div>

</body>
</html> -->


<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>